In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3 as sql

In [10]:
try:
     
    # Making a connection between sqlite3
    # database and Python Program
    conn = sql.connect('epadel.db')
     
    # If sqlite3 makes a connection with python
    # program then it will print "Connected to SQLite"
    # Otherwise it will show errors
    print("Connected to SQLite")
 
except sqlite3.Error as error:
    print("Failed to execute the above query", error)

Connected to SQLite

# EPADEL Database Schema

---

## BACKGROUND

This database involves an organization called EPaDel (Eastern PA and Delaware) which is a local section of the Mathematical Association of America. 

There are many colleges/universities within the boundaries of EPaDel.  There are also many members/persons in EPaDel.  Most members are professors/students at colleges/universities,  BUT some members of EPaDel are high school students/teachers too.

Every spring and every fall semester, EPaDel hosts a meeting for its members.

There are 3 tables you will need for this exam:  

* schools 
  *  Gives information about all schools/universities within the EPaDel Section
* persons 
    * Gives information about the members of EPaDel.  
    * Again, most members are professors/students at colleges/universities,  BUT some members of EPaDel are high school students/teachers too.
* meeting_attendance 
    * Gives information about which members attended which meetings.

## Visualization of the DB Schema

The following database diagram illustrates the EPaDel database tables and their relationships.  

![EPaDel Database](https://raw.githubusercontent.com/kathleen-ryan-DeSales/CS260/main/other/epadel_tables.PNG)


## THE PERSONS TABLE

The persons table gives the following information for each member.  Notice which values are null are not.

* email:
  - The member's email.
* first_name
* last name
* affiliation:
  - This will be the school associated with the person/member.
  - If the affiliation is unknown/unreported, it will be NULL.
* gender:
  - M
  - F
  - NULL - If unknown/unreported
* roles:  
  - F - Faculty (at a college or university)
  - US - Undergraduate Student
  - GS - Graduate Student
  - HS - High School Student
  - HT - High School Teacher
  - OM - Other Member
  - NULL - if unknown

In [11]:
#Here's an example record, as I am a member of EPaDel.
sql_statement = """SELECT * 
                    FROM persons 
                    WHERE email = 'kathleen.ryan@desales.edu' """

results = pd.read_sql_query(sql_statement, conn)
results

,email,first_name,last_name,affiliation,gender,role
0,kathleen.ryan@desales.edu,Kathleen,Ryan,DeSales University,F,F

---
## THE SCHOOLS TABLE

**NOTE: NO columns in the school table have NULL values in any row.**

The schools table tells you the following information for each school (so each university/college) within EPaDel's borders:

* school_name: the name of the school
* dept_name: the formal name of its math department
* street
* city
* state
* zip
* distance_to_upenn: the school's distance to University of Pennsylvania (miles) 
* highest_degree_offered - The highest degree that the math department offers offers which will be:
  - Associates:  A 2 year degree 
  - Baccalaureate:  A baccalaureate degree is the same as a bachelors degree (4 year degree)
  - Masters: A graduate degree
  - Doctoral:  The highest graduate degree (PhD)
* is_community: if it is a community college 
  - No - 0
  - Yes - 1 
* is_private
  - No - 0
  - Yes - 1

In [12]:
sql_statement = """SELECT * FROM schools"""

results = pd.read_sql_query(sql_statement, conn)
results

,school_name,dept_name,city,state,zip,distance_to_upenn,highest_degree_offered,is_community,is_private
0,University of Pennsylvania,Mathematics,Philadelphia,PA,19104,0.0,Doctoral,0,1
1,Drexel University,Mathematics and Computer Science,Philadelphia,PA,19104,0.6,Doctoral,0,1
2,University of the Sciences,"Mathematics, Physics, Computer Science",Philadelphia,PA,19104,0.6,Baccalaureate,0,1
3,Peirce College,Mathematics,Philadelphia,PA,19102,1.3,Baccalaureate,0,1
4,Community College of Philadelphia,Mathematics,Philadelphia,PA,19130,2.1,Associate,1,0
...,...,...,...,...,...,...,...,...,...
89,Lycoming College,Mathematical Sciences,Williamsport,PA,17701,177.0,Baccalaureate,0,1
90,Pennsylvania College of Technology,Mathematics,Williamsport,PA,17701,178.0,Baccalaureate,0,0
91,Lock Haven University,Mathematics,Lock Haven,PA,17745,201.0,Baccalaureate,0,0
92,Mansfield University,Mathematics and Computer and Information Science,Mansfield,PA,16933,225.0,Baccalaureate,0,0
93,Fake University,Mathematics,Fake City,PA,18966,27.8,Baccalaureate,0,0

---

## THE MEETING_ATTENDANCE TABLE

The meeting_attendance table tells you about which members in EPaDel attended which meetings. To be clear, a person in the persons table may have gone to 0/1/multiple meetings.

Specifically, the meeting_attendance table gives the following information for each attendee.  

**NOTE: Every attendee appears in the persons table.**

* meeting_id 
  - The meeting IDs look like SPRING2019 or FALL2019, so the word "SPRING" or "FALL" followed by a 4 digit year.
* email 
  - The email of the attendee.  
* gave_talk:  if a person gave a talk at the meeting
  - 1: the person gave a talk
  - 0: the person did not give a talk  (so they just attended the meeting but did not speak at it)
* bought_lunch: if the person bought a lunch ticket for the meeting
  - 1: bought a lunch ticket
  - 0: did not buy a lunch ticket
  - NULL:  if unknown
* total_paid:  how much the attendee paid to come to the meeting. (Aside: different factors play into how much each person pays. For example, students pay less than faculty.)
  - NULL: if unknown

In [13]:
#Here's an example record, as I am a member of EPaDel.
sql_statement = """SELECT * 
                    FROM meeting_attendance 
                    WHERE email = 'kathleen.ryan@desales.edu' """


results = pd.read_sql_query(sql_statement, conn)
results

,meeting_id,email,gave_talk,bought_lunch_ticket,total_paid
0,FALL2018,kathleen.ryan@desales.edu,0,1.0,40.0
1,SPRING2018,kathleen.ryan@desales.edu,0,1.0,45.0
2,SPRING2019,kathleen.ryan@desales.edu,0,1.0,40.0